@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Colors */

  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}

.header {
  background-image: url('assets/pattern-bg.png');
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  margin: 0;
  padding: 0;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 16px;
}
.form {
  width: 50%;
  padding: 10px 0 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  max-width: 400px;
}
.submit-btn {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: var(--Very-Dark-Gray);
  border-radius: 0 10px 10px 0;
}
.submit-btn .visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.submit-input {
  width: 70%;
  border: none;
  height: 90%;
}
.submit-input::placeholder {
  font-weight: 500;
  color: var(--Dark-Gray);
}
.submit-input:focus {
  outline: none;
}
.main {
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 250px);
}
#mapid {
  height: 180px;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.result-table {
  box-sizing: border-box;
  width: 70%;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 80px;
  height: 100px;
  position: absolute;
  top: -60px;
}
.column {
  position: relative;
  height: 100%;
}

.column .box-title {
  margin: 0;
  margin-top: 10px;
  margin-left: 32px;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 2px;
  color: var(--Dark-Gray);
  font-weight: 500;
}
.column::after {
  content: '';
  height: 60%;
  width: 1px;
  background-color: var(--Dark-Gray);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
}
.column:last-child::after {
  visibility: hidden;
}
.column .search-result {
  font-size: 18px;
  color: #000;
  font-weight: 700;
  display: inline-block;
  margin-left: 32px;
  margin-top: 8px;
}

/* error window  */
.bg-filter {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  background: #000;
  opacity: 0.5;
  z-index: 1;
  visibility: hidden;
}
.modal-error {
  display: inline-block;
  position: absolute;
  width: 500px;
  padding: 20px 0;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  z-index: 2;
  visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal-error P {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #ff5c58;
}
.modal-error .close-btn {
  margin: 0 40px;
  background: transparent;
  border: none;
  fill: #ff5c58;
}
@media (max-width: 750px) {
  .submit-input::placeholder {
    font-size: 12px;
  }
  .main-heading {
    font-size: 20px;
  }
  .form {
    min-width: 280px;
  }
  .result-table {
    width: 50%;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    min-width: 200px;
    text-align: center;
    height: 250px;
    top: -110px;
    padding: 5px;
    grid-template-rows: 50px;
    grid-gap: 2px;
  }
  .column {
    padding: 0;
  }
  .column .box-title {
    margin: 0;
    margin-top: 12px;
  }
  .column::after {
    visibility: hidden;
  }
  .column .search-result {
    margin: 0;
    margin-top: 8px;
  }
}
