@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
  /* Colors */

  --Very-Dark-Gray: hsl(0, 0%, 17%);
  --Dark-Gray: hsl(0, 0%, 59%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

